/* COPY THE NAV BAR FOR ALL PAGES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.navbarcontainer{
    padding: 10px;
    display: flex; 
    flex-direction: row;
}

.left{
    width: 100%;
    display: flex;
    justify-content: center;

}

.middle{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;

}

.right{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;


}

.home{
    border-bottom: 2px orangered solid;
    color: chocolate;
}

.specialFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}



/* DONE   */

body{
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}


.welcome{
    
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    animation-name: example;
    position: relative;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;




}

@keyframes example{
   
    0%   { 
        left:0px;
     }
    50%{
        left:600px
    }
    100% { 
        left:0px; 
    }

}


.welcomeText{
    font-size: xx-large;
}

.flowerShopText{
    font-size: 75px;
    margin-bottom: 20px;
    color: coral;
}

.welcomeLorem{
    width: 400px;
    margin-bottom: 20px;
}

.welcomeButton{
    width: 200px;
    height: 50px;
    border-radius: 30px; 
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.textInsideWelcomeButton{

    color: white;

}

.welcomeButton:hover{
    border: 1px black solid;
    background-color: white;
}
.welcomeButton:hover .textInsideWelcomeButton{
    color: black;
}

/*  */
/*  */



.redContainer1{
    margin-top: 250px;
    margin-right: 70px;
    display: flex;
    justify-content: end;

}

.redCircle1{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: linear-gradient(red,black);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.textInsideRedCircle1{
    color: white;
    font-size: x-large;
    font-weight: bold;

}


/*  */
/*  */

H1{
    font-weight: 3000;
}

.container2{
    background-color: white;
    display: flex;
    padding-top: 40px;
    margin-bottom: 120px;
    justify-content: center;

}

.about-img{
    margin-top: 60px;
}

.smallercontainer{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-end;
}


.text{
    padding-top: 20px;
    width: 400px;
    height: 200px;
    text-align: right;
    font-size: larger;

}

/*  */
/*  */


.whyChooseUsContainer{
    background-image: url(../images/why-bg.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.redContainer2{
    margin-top: 250px;
    margin-right: 70px;
    display: flex;
    justify-content: end;
    position: absolute;
    top: -289px;
    left: 76px;

}

.redCircle2{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: linear-gradient(red,black);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.textInsideRedCircle2{
    color: white;
    font-size: x-large;
    font-weight: bold;

}


.redContainer3{
    margin-top: 250px;
    margin-right: 70px;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: -30px;
    right: 37px;

}

.redCircle3{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: linear-gradient(red,black);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.textInsideRedCircle3{
    color: white;
    font-size: x-large;
    font-weight: bold;

}



.whyChooseUsText{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px;
}

.whyChooseUsLorem{
    width: 900px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.whyChooseUsButton{
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.textInsidewhyChooseUsButton{
    color: coral;
    display: flex;
}

.whyChooseUsButton:hover{
    background-color: crimson;
    border: 1px solid white;
    cursor: pointer;
}

.whyChooseUsButton:hover .textInsidewhyChooseUsButton{
    color: white;


}

/*  */
/*  */

H1{
    font-weight: 3000;
}

.container2{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    

}

/*  */
.gridcontainer{
    background-color: white;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;

}

.griditem1{
    background-color: aqua;

}



.griditem2{
    background-color: blue;
    grid-row: 1/3;
    grid-column: 2/3;

}




.griditem3{
    background-color: red;
}



.griditem4{
    background-color: chartreuse;
    grid-row: 2/4;
    grid-column: 1/2;
} 



.griditem5{
    background-color: chocolate;
    grid-column: 2/3;
    grid-row: 3/4;
    
}


.griditem6{
    background-color: pink;
    grid-column: 3/4;
    grid-row: 2/3;

}



.griditem7{
    background-color: purple;
    grid-row: 4/5;
    grid-column: 1/3;

}



.griditem8{
    background-color: black;
    grid-row: 3/5;
    grid-column: 3/4;


}

.griditem1 img,
.griditem2 img,
.griditem3 img,
.griditem4 img,
.griditem5 img,
.griditem6 img,
.griditem7 img,
.griditem8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gridcontainer img {
    transition: transform 0.5s ease;
  }
  
  /* On hover, scale the image up */
  .gridcontainer img:hover {
    transform: scale(1.1); /* Adjust this value to increase or decrease the zoom level */
  }


/*  */
/*  */


.whatOurCustomersSayContainer{
    margin-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 70px;
    
}


.redContainer4{
    display: flex;
    justify-content: end;
    position: relative;
    right: 277px;

}

.redCircle4{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: linear-gradient(red,black);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.textInsideRedCircle4{
    color: white;
    font-size: x-large;
    font-weight: bold;

}


.whatOurCustomersSayContainerText{
    font-size: xx-large;
    font-weight: bolder;
}

.customersContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 50px;
}


.firstClient{
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    border: 1px solid black;
    padding: 30px;
    
}

.firstClient:hover{
    background-color: brown;
    color: white;
}

.firstClientPictureAndName{
    display: flex;
    align-items: flex-end;

    
}

.firstClientPictureAndName img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.firstClientName{
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 50px;
    
}

.secondClient{
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    border: 1px solid black;
    padding: 30px;
    
}

.secondClient:hover{
    background-color: brown;
    color: white;
}

.secondClientPictureAndName{
    display: flex;
    align-items: flex-end;

    
}

.secondClientPictureAndName img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.secondClientName{
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 50px;
    
}

.customerContainerText{
    width: 400px;
    position: relative;
    bottom: 30px;
}



.redContainer5{
    display: flex;
    justify-content: end;
    position: relative;
    right: 100px;
    bottom: 60px;

}

.redCircle5{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: linear-gradient(red,black);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.textInsideRedCircle5{
    color: white;
    font-size: x-large;
    font-weight: bold;

}

/*  */
/*  */


.container2background{
    
    background-image: url(../images/flowers.png);
}


H1{
    font-weight: 3000;
}

.container2{
    display: flex;
    justify-content: center;

}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;


}

.formNameEmailPhone{
    padding: 10px;
    padding-left: 20px;
    padding-right: 200px;
    margin: 10px;
    border-radius: 10px;
}

.formMessage{
    padding: 40px;
    padding-right: 200px;
    margin: 10px;
    border-radius: 10px;

}

.formButton{
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: red;
    padding-top: 10px;

    width: 150px;
    height: 65px;
    cursor: pointer;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.formButton:hover{
    background-color: white;
}

.textinsidebutton{
    color: white;
    font-weight: bolder;
    font-size: large;
}


.formButton:hover .textinsidebutton {
    color: red;
}


/* COPY THE FOOTER FOR ALL PAGES    */
.footercontainer{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: darkslategray;


}

.item1{
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.item2{
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;

}

.item3{
    color: white;


}

.item4{
    color: white;
}

.smolgridcontainer{

    display: grid;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 60px 60px ;
    gap: 10px;
}

.smolgriditem1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smolgriditem2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.smolgriditem3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.smolgriditem4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.smolgriditem5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.smolgriditem6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.font{
    font-size: larger;
    font-weight: bolder;
}

li{
    padding: 3px;
}

.contactpadding{
    padding: 3px;
}
.contactpadding img{
    width: 20px;
    height: 20px;
}

.contactpadding .contact-item {
    margin: 10px 0;
  }


a{
    text-decoration: none;
}


/* DONE */

